<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>18-30岁</key>
	<array>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>醒来后一杯温开水，帮助身体细胞都重新活力四射。</string>
			<key>ClockTime</key>
			<string>07:30</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>休息一会</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>早饭一定要吃，因为它可以帮助你维持血糖水平的稳定。所以早饭很重要，迟点吃没关系，但一定要吃哦。
</string>
			<key>ClockTime</key>
			<string>08:00</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>早餐</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>让眼睛休息一会儿，看看窗外，喝杯水。</string>
			<key>ClockTime</key>
			<string>10:30</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>起床</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>多吃豆类，豆类富含氨基酸和蛋白质，可提高免疫力，增强记忆力。</string>
			<key>ClockTime</key>
			<string>12:00</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>午餐</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>30分钟的午休会让你精力充沛。</string>
			<key>ClockTime</key>
			<string>13:00</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>午休</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>让眼睛休息一会儿，看看窗外，喝杯水。
</string>
			<key>ClockTime</key>
			<string>15:00</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>休息一会</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>晚饭吃太多，会引起血糖升高，并增加消化系统的负担，影响睡眠。晚饭应该多吃蔬菜，少吃富含卡路里和蛋白质的食物。吃饭时要细嚼慢咽。
</string>
			<key>ClockTime</key>
			<string>19:30</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>晚餐</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockRemember</key>
			<string>为了保证充足的睡眠和身体各系统的需要，是时候该睡觉了。
</string>
			<key>ClockTime</key>
			<string>23:30</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>睡觉</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
			<key>ClockType</key>
			<string>默认</string>
		</dict>
	</array>
	<key>30-40岁</key>
	<array>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>醒来后一杯温开水，帮助身体细胞都重新活力四射。</string>
			<key>ClockTime</key>
			<string>07:00</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>休息一会</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>早饭一定要吃，因为它可以帮助你维持血糖水平的稳定。所以早饭很重要，迟点吃没关系，但一定要吃哦。
</string>
			<key>ClockTime</key>
			<string>07:30</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>早餐</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>让眼睛休息一会儿，看看窗外，喝杯水。</string>
			<key>ClockTime</key>
			<string>10:30</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>起床</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>多吃豆类，豆类富含氨基酸和蛋白质，可提高免疫力，增强记忆力。</string>
			<key>ClockTime</key>
			<string>12:00</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>午餐</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>30分钟的午休会让你精力充沛。</string>
			<key>ClockTime</key>
			<string>13:00</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>午休</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>让眼睛休息一会儿，看看窗外，喝杯水。
</string>
			<key>ClockTime</key>
			<string>15:00</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>休息一会</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>晚饭吃太多，会引起血糖升高，并增加消化系统的负担，影响睡眠。晚饭应该多吃蔬菜，少吃富含卡路里和蛋白质的食物。吃饭时要细嚼慢咽。
</string>
			<key>ClockTime</key>
			<string>19:30</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>晚餐</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>为了保证充足的睡眠和身体各系统的需要，是时候该睡觉了。
</string>
			<key>ClockTime</key>
			<string>23:30</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>睡觉</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
	</array>
	<key>40-50岁</key>
	<array>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>醒来后一杯温开水，帮助身体细胞都重新活力四射。</string>
			<key>ClockTime</key>
			<string>06:30</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>休息一会</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>早饭一定要吃，因为它可以帮助你维持血糖水平的稳定。所以早饭很重要，迟点吃没关系，但一定要吃哦。
</string>
			<key>ClockTime</key>
			<string>07:00</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>早餐</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>让眼睛休息一会儿，看看窗外，喝杯水。</string>
			<key>ClockTime</key>
			<string>10:30</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>起床</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>多吃豆类，豆类富含氨基酸和蛋白质，可提高免疫力，增强记忆力。</string>
			<key>ClockTime</key>
			<string>12:00</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>午餐</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>30分钟的午休会让你精力充沛。</string>
			<key>ClockTime</key>
			<string>13:00</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>午休</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>让眼睛休息一会儿，看看窗外，喝杯水。
</string>
			<key>ClockTime</key>
			<string>15:00</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>休息一会</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>晚饭吃太多，会引起血糖升高，并增加消化系统的负担，影响睡眠。晚饭应该多吃蔬菜，少吃富含卡路里和蛋白质的食物。吃饭时要细嚼慢咽。
</string>
			<key>ClockTime</key>
			<string>19:00</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>晚餐</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>为了保证充足的睡眠和身体各系统的需要，是时候该睡觉了。
</string>
			<key>ClockTime</key>
			<string>22:30</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>睡觉</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
	</array>
	<key>50岁以上</key>
	<array>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>醒来后一杯温开水，帮助身体细胞都重新活力四射。</string>
			<key>ClockTime</key>
			<string>06:00</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>休息一会</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>早饭一定要吃，因为它可以帮助你维持血糖水平的稳定。所以早饭很重要，迟点吃没关系，但一定要吃哦。
</string>
			<key>ClockTime</key>
			<string>06:30</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>早餐</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>让眼睛休息一会儿，看看窗外，喝杯水。</string>
			<key>ClockTime</key>
			<string>07:30</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>起床</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>多吃豆类，豆类富含氨基酸和蛋白质，可提高免疫力，增强记忆力。</string>
			<key>ClockTime</key>
			<string>12:00</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>午餐</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>30分钟的午休会让你精力充沛。</string>
			<key>ClockTime</key>
			<string>13:00</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>午休</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>让眼睛休息一会儿，看看窗外，喝杯水。
</string>
			<key>ClockTime</key>
			<string>15:00</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>休息一会</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>晚饭吃太多，会引起血糖升高，并增加消化系统的负担，影响睡眠。晚饭应该多吃蔬菜，少吃富含卡路里和蛋白质的食物。吃饭时要细嚼慢咽。
</string>
			<key>ClockTime</key>
			<string>18:30</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>晚餐</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
		<dict>
			<key>ClockType</key>
			<string>默认</string>
			<key>ClockRemember</key>
			<string>为了保证充足的睡眠和身体各系统的需要，是时候该睡觉了。
</string>
			<key>ClockTime</key>
			<string>22:00</string>
			<key>ClockForce</key>
			<string>NO</string>
			<key>ClockShock</key>
			<string>NO</string>
			<key>ClockState</key>
			<string>NO</string>
			<key>ClockMusic</key>
			<string>同学起床了(女声)</string>
			<key>ClockName</key>
			<string>睡觉</string>
			<key>ClockSoundValue</key>
			<string>50</string>
			<key>ClockMode</key>
			<string>一,二,三,四,五</string>
		</dict>
	</array>
</dict>
</plist>
